<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - My Portfolio</title>
    <link rel="icon" type="image/x-icon" href="https://cloudp1db.blob.core.windows.net/resources/favicon.ico">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="header-placeholder"></div>
    <script src = "header.js"></script>
    
    <main>
        <section id="blog">
            <div class="blog-header">
                <h2>Blog</h2>
                <button id="create-blog-button" class="circle-button">+</button>
            </div>
            <div id="blog-posts-container">
                <% result.forEach(post=> { %>
                    <article data-post-id="<%= post._id %>">
                        <h3>
                            <%= post.post_title %>
                        </h3>
                    </article>
                    <% }); %>
            </div>
        </section>
    </main>

    <div id="footer-placeholder" class="footer"></div>

    <script src="blog.js"></script>
    <script src="footer.js"></script>
</body>

</html>