<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Blog Post</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="header-placeholder"></div>
    <script src="../header.js"></script>

    <header>
        <div class="blog-header">
            <button id="back-button" class="circle-button"><i class="fas fa-arrow-left"></i></button>
            <h1>Create New Blog Post</h1>
        </div>
    </header>

    <main>
        <div id="blog-editor">
            <input type="text" id="blog-title" placeholder="Blog Title" required>
            <div id="blog-content" contenteditable="true">
            </div>

            <div id="alert-container" class="alert">
                <div class="alert-content">
                    <button class="close-button">&times;</button>
                    <p id="alert-message"></p>
                </div>
            </div>
    
            <div class="modal-buttons">
                <button type="submit" name="save" class="save-button">Save</button>
                <button type="button" class="cancel-button">Cancel</button>
            </div>
        </div>
    </main>

    <script>
        const put_confirm = "<%- put%>";
        const post_data = <%- JSON.stringify(data) %>
    </script>
    <script src='../blog_create.js'> </script>
</body>

</html>