<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret - My Portfolio</title>
    <link rel="icon" type="image/x-icon" href="https://cloudp1db.blob.core.windows.net/resources/favicon.ico">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="header-placeholder"></div>
    <script src="header.js"></script>

    <main>
        <section id="secret">
            <h2>Secret Section</h2>
            <p>This section contains exclusive content.</p>
            <button id="create-container-button">Create container</button>
            <button id="select-button">Select and upload files</button>
            <!-- <form id="form-x" style="display: none;">
                <input type="file" id="file-input" multiple style="display: none;" />
            </form> -->
            <button id="list-button">List files</button>
            <button id="delete-button">Delete selected files</button>
            <button id="delete-container-button">Delete container</button>
            <p><b>Status:</b></p>
            <p id="status" style="height:160px; width: 593px; overflow: scroll;" />
            <p><b>Files:</b></p>
            <!-- <select id="file-list" multiple style="height:222px; width: 593px; overflow: scroll;" /> -->
        </section>
    </main>

    <div id="footer-placeholder" class="footer">hello</div>
    <script src="footer.js"></script>

    <script>
        const data = <% - JSON.stringify(data) %>
    </script>
    <!-- <script src="secret.js"></script> -->

    

</body>

</html>