/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

/* Main content should fill the available space above the footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #e6e6fa; /* Lavender */
    padding: 10px;
    text-align: center;
}

header h1 {
    flex-grow: 1; /* Allow title to take up available space */
    text-align: center; /* Center the title */
    margin: 0; /* Remove default margins */
}

/* Footer Styling */
.footer {
    background-color: #e6e6fa; /* Lavender */
    color: #333333;
    width: 100%; /* Make sure it fills the width of the page */
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center content horizontally */
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex; /* Align items horizontally */
    justify-content: center; /* Center the icons */
    gap: 20px; /* Space between icons */
    margin-top: auto;
}

.social-icon {
    width: 24px; /* Adjust the size of the social icons as needed */
    height: 24px;
    transition: filter 0.3s ease; /* Smooth transition for filter effect */
}

/* Change the icon to lavender on hover*/
.social-icon:hover {
    filter: invert(89%) sepia(20%) saturate(203%) hue-rotate(202deg) brightness(99%) contrast(97%);
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #9932cc;
}

h1, h2, h3 {
    color: #9932cc; /* Pink Pastel */
    text-align: center;
}

.intro {
    padding: 2rem; /* Consistent padding */
    text-align: center; /* Center the text */
    max-width: 800px; /* Optional: set a max-width */
    margin: 2rem auto; /* Center the intro section */
}

.intro h1 {
    font-size: 2rem; /* Adjust heading size */
    margin-bottom: 1rem; /* Space below heading */
}

.intro p {
    font-size: 1.2rem; /* Adjust paragraph size */
    line-height: 1.6; /* Improve readability */
}

main {
    flex: 1;
    padding-bottom: 60px; /* Adjust as needed */
}

section {
    padding: 20px;
}

/*project style*/
.project {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
}

/*blog style*/
.blog-header {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically align items */
    justify-content: center; /* Distribute space between heading and button */
    margin-bottom: 20px; /* Add some space below the header */
}

.circle-button {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    border-radius: 50%; /* Make it circular */
    background-color: #9932cc; /* Use your button color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Adjust font size */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin: 10px;
}

.circle-button:hover {
    background-color: #e6e6fa; /* Your hover color */
    color: #9932cc;
}

/*new blog window style*/
#back-button {
    margin-right: 10px; /* Space between button and title */
}

#blog-editor, #blog-viewer { /* Combined styles */
    padding: 2rem;
    width: 90%;
    max-width: 800px; /* Added max-width */
    margin: 2rem auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 500px;
    box-sizing: border-box;
}

article {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    overflow-y: auto; /* Add scrollbar to each article if it overflows */
    max-height: 300px; /* Optional: set a max height for each article */
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h3 {
    margin-bottom: 10px;
}

#blog-title {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    box-sizing: border-box;
}

#blog-posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: auto; /* Add vertical scrollbar if needed */
    max-height: 80vh; /* Optional: Set a maximum height for the container */
    /* If you set a max-height, you might want to add a scrollbar to each article as well: */
}

#blog-posts-container::-webkit-scrollbar, article::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
}

#blog-posts-container::-webkit-scrollbar-track, article::-webkit-scrollbar-track {
    background: #f1f1f1; /* Or transparent */
}

#blog-posts-container::-webkit-scrollbar-thumb, article::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px; /* Optional: rounded corners */
}

#blog-posts-container::-webkit-scrollbar-thumb:hover, article::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#blog-content {
    width: 100%;
    min-height: 400px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    overflow-y: auto;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.save-button, .cancel-button {
    background-color: #9932cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.save-button:hover, .cancel-button:hover {
    background-color: #e6e6fa;
    color: #9932cc;
}


/*about style*/
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/*contact style*/
form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #9932cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6e6fa;
}

.alert {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.alert-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less */
    max-width: 500px; /* Limit the maximum width */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    position: relative; /* For positioning the close button */
    display: flex; /* Enable flexbox for positioning */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center horizontally */
}

.close-button {
    font-size: 20px;
    font-weight: bold;
    color: #9932cc;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #888;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    padding: 5px 10px;
    border-radius: 5px;
}

/*footer style*/
.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #9932cc;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #e6e6fa;
    position: relative;
    width: 100%;
}
